# Various Data types in Python

### Numbers

In [1]:
5455+545451

550906

In [2]:
10**2

100

In [3]:
10* "str"

'strstrstrstrstrstrstrstrstrstr'

In [4]:
type("stre")

str

In [5]:
type(hello)

NameError: name 'hello' is not defined

In [6]:
print('Hello') # try pressing shift+tab

Hello

In [8]:
first_name = 'Sathi'
last_name = 'Singhania'

In [12]:
print('My name is {} {}'.format(first_name,last_name)) #Order in format is very important

My name is Sathi Singhania

In [13]:
print('My name is {first} {last}'.format(last = last_name, first=first_name,)) #This way order will not be an issue

My name is Sathi Singhania

# Boolean Values
### Used for True or False value

In [17]:
type(True) # True and Flase is case sensitive, don't write like true or false

bool

In [18]:
my_name = 'Sathi Singhania'

In [19]:
print(my_name.isalnum()) # check if all characters are numbers
print(my_name.isalpha()) # check if all charcaters in strings are alphabets
print(my_name.isdigit()) # check if it contains any digit
print(my_name.istitle()) # check if string contains any title words
print(my_name.isupper()) # check if string contains any upper case letter
print(my_name.islower()) # check if string contains any lower case letter
print(my_name.isspace()) # check if string contains any space
print(my_name.endswith('S')) # check if string ends with that specific letter also they are case sensitive
print(my_name.startswith('S')) # check if string starts with that specific letter

False
False
False
True
False
False
False
False
True

# List
 A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ] .

In [20]:
lst1 = [] # Can be cretwd with brackets

In [21]:
type(lst1)

list

In [22]:
lst2 = list() # Also has inbuilt function

In [23]:
type(lst2)

list

In [24]:
lst1 = ['Sathi', 'B', 'Singhania',1,5,4]

In [25]:
len(lst1)

6

## Append

In [27]:
lst1.append('Surya')

In [28]:
print(lst1)

['Sathi', 'B', 'Singhania', 1, 5, 4, 'Surya']

In [29]:
lst1[4] # Starts from 0

5

In [30]:
lst1[1:]

['B', 'Singhania', 1, 5, 4, 'Surya']

In [31]:
lst1.append('G',5) #Append takes exactly one arguement

TypeError: append() takes exactly one argument (2 given)

In [35]:
lst1.append(['G',5])

In [36]:
lst1 # It gets nested and another thing about append is that it by default gets added at the end

['Sathi', 'B', 'Singhania', 1, 5, 4, 'Surya', ['G', 5], ['G', 5], ['G', 5]]

## Insert

In [37]:
lst2 = [1,3,8,9,5,'Sathi']

In [38]:
lst2.insert(2,"Surya")

In [40]:
lst2 # This is the key difference that we can insert it in any position that we want

[1, 3, 'Surya', 8, 9, 5, 'Sathi']

## Extend Method

In [41]:
n1 = [1,2,3,4,5]

In [43]:
n1.extend([6,7])

In [45]:
n1 # Unlike append, instead of creating nested list, it gets added into the actual list

[1, 2, 3, 4, 5, 6, 7]

## Sum

In [47]:
sum(n1) # adds values of all eleemnts inside the list

28

In [54]:
name = ['Sathi', 'Singhania',24]

In [56]:
sum(name) # No string + integer

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Pop()

In [57]:
n1.pop() # By default pops the last element

7

In [58]:
n1

[1, 2, 3, 4, 5, 6]

In [61]:
n1.pop(2) # For popping other index elements

4

In [62]:
n1

[1, 2, 5, 6]

## Count

In [63]:
a1 = [1,5,4,9,3,4,1,5]

In [65]:
a1.count() # counts the number of elememts for you but you have to specify that which number of string

TypeError: count() takes exactly one argument (0 given)

In [67]:
a1.count(1) # 1 is present 2 times

2

## Index

In [69]:
a1.index(1) # It by default returns where the element is found first, means which index

0

In [75]:
a1.index(1,1,7) # 1st paramete - the elemnt you want to find, 2nd - starting position, 3rd - end

6

### List gets multiplied this way

In [77]:
a1*2

[1, 5, 4, 9, 3, 4, 1, 5, 1, 5, 4, 9, 3, 4, 1, 5]

# Sets
Set is a unorder collection data type in python that is iterable, mutable and no duplicate elements. It represnets the mathematical notion of set. It's based on a data structure known as hash table. Set use curly brcaes.

In [13]:
sets = set # Don't use brackets
print(set)
print(type(set))

set()
<class 'set'>

In [14]:
sets = {1,2,3,4,3}

In [15]:
sets # It does not print teh duplicate values

{1, 2, 3, 4}

In [17]:
sets[0]

TypeError: 'set' object is not subscriptable

In [19]:
sets['1'] # Sets do not support indexing in anyway

TypeError: 'set' object is not subscriptable

### Add

In [20]:
sets.add("Sathi")

In [21]:
sets

{1, 2, 3, 4, 'Sathi'}

### Some other Set functions as per Mathematics

In [24]:
set1 = {1,2,3,4,5,6,7}
set2 = {6,7,8,9,10,11,12}

In [26]:
set2.difference(set1) # elemnets uniquee to set 2

{8, 9, 10, 11, 12}

In [27]:
set2.difference_update(set1)

In [29]:
set1

{1, 2, 3, 4, 5, 6, 7}

In [32]:
set2 # this updates and affcets the value in the set which doesn;t happen in simple difference

{8, 9, 10, 11, 12}

In [33]:
set2.union(set1) # union of all elements

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [40]:
set2.discard(8) # Discarded the elemnt which I passed in arguement

In [41]:
set2

{9, 10, 11, 12}

# Dictionary
It is a collection which is unordered,changeable and indexed. They are written with curly braces and have keys and values.

In [42]:
dic = {}

In [43]:
type(dic)

dict

In [49]:
dic = {'Name1': 'Sathi', 'Name2':'Surya'} # if you don't define the values with key, it becomes a set

In [50]:
dic

{'Name1': 'Sathi', 'Name2': 'Surya'}

In [54]:
dic['Name1'] # Indexing is done by the key value

'Sathi'

In [56]:
for x in dic: # for retrieving indexes
    print(x)

Name1
Name2

In [60]:
for x in dic.values(): # For retrieving key values
    print(x)

Sathi
Surya

In [62]:
for x in dic.items(): # Items for printing both key and it's values
    print(x)

('Name1', 'Sathi')
('Name2', 'Surya')

In [65]:
dic['Name3'] = 'Sunita' # Adding a new value

In [64]:
dic

{'Name1': 'Sathi', 'Name2': 'Surya', 'Name3': 'Sunita'}

In [75]:
dic['Name1'] ="SATHI" # It gets replaced, not possible in Sets

In [67]:
dic

{'Name1': 'SATHI', 'Name2': 'Surya', 'Name3': 'Sunita'}

### Nested Dictionary

In [76]:
car1_info = {'Suzuki':1960}
car2_info = {'Toyota':1970}
car3_info = {'Nano':2010}

In [77]:
cars = {'car1': car1_info,'car2': car2_info,'car3': car3_info}

In [78]:
cars

{'car1': {'Suzuki': 1960}, 'car2': {'Toyota': 1970}, 'car3': {'Nano': 2010}}

In [80]:
print(cars['car1'])

{'Suzuki': 1960}

In [81]:
print(cars['car1']['Suzuki'])

1960

# Tuples
Once the value inserted, it can not be changed furthur and it uses single bracket.

In [83]:
tup = tuple()

In [84]:
type(tup)

tuple

In [85]:
tup = ("Sathi","Surya","Sunita")

In [86]:
tup[0]

'Sathi'

In [87]:
tup[0] = 'Panko' # You can't chnage the elements

TypeError: 'tuple' object does not support item assignment

In [88]:
tup = ("Panko", "Momo") # You can chnage the whole values but not single at once

In [89]:
tup

('Panko', 'Momo')

# is vs ==
is will return True if two variables point to the same object (in memory), == if the objects referred to by the variables are equal.

In [1]:
lst1 = ['S1','S2','S3']
lst2 = ['S1','S2','S3']

In [2]:
lst1 == lst2

True

In [3]:
lst1 is lst2

False

In [4]:
#Now we will try saving the elements in same object(in memory)
lst1 = lst2

In [5]:
lst1 is lst2 # Now it gives true

True

In [6]:
lst1[0] ='S4'

In [7]:
lst1

['S4', 'S2', 'S3']

In [8]:
lst2

['S4', 'S2', 'S3']

The value is same, as both refers to the same memory and thus same element and that is where 'is' is used.